* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background: #606470;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(90%, 100rem);
  margin-inline: auto;
  padding: 2rem 0;
}
@media (max-width: 650px) {
  .container {
    width: min(100%, 90rem);
  }
}
.container .recipe-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}
.container .recipe-content .search-content {
  margin-bottom: 2rem;
  width: 100%;
}
.container .recipe-content .search-content .title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.container .recipe-content .search-content .title-content img {
  width: 10%;
}
.container .recipe-content .search-content .title-content h1 {
  color: #1dad9b;
}
.container .recipe-content .search-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-inline: auto;
  text-align: center;
}
.container .recipe-content .search-content form input {
  display: inline-block;
  outline: none;
  padding: 0.5rem 0.5rem;
  width: 240px;
  border: 1px solid #606470;
  background: #f7f7f7;
  border-right: none;
  border-radius: 10px 0 0 10px;
  font-size: 1rem;
}
@media (max-width: 450px) {
  .container .recipe-content .search-content form input {
    width: 100%;
  }
}
.container .recipe-content .search-content form .search-btn {
  background: #f7f7f7;
  padding: 0.5rem;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  cursor: pointer;
  color: #1dad9b;
}
.container .recipe-content .search-result-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (max-width: 1550px) {
  .container .recipe-content .search-result-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1050px) {
  .container .recipe-content .search-result-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .container .recipe-content .search-result-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container .recipe-content .search-result-container .result-recipe {
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  background: #323643;
  box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.container .recipe-content .search-result-container .result-recipe img {
  width: 100%;
  height: 230px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .recipe-content .search-result-container .result-recipe .result-description {
  letter-spacing: 0.05rem;
  padding: 1rem;
  height: 140px;
}
.container .recipe-content .search-result-container .result-recipe .result-description .title {
  padding-bottom: 0.5rem;
  color: #f7f7f7;
}
.container .recipe-content .search-result-container .result-recipe .result-description .calories {
  color: #f7f7f7;
  padding: 0.3rem 0;
  font-size: 0.8rem;
}
.container .recipe-content .search-result-container .result-recipe .result-description a {
  text-decoration: none;
}
.container .recipe-content .search-result-container .result-recipe .result-description a .btn {
  width: 100%;
  margin-top: 1rem;
  background: #1dad9b;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  color: #f7f7f7;
  letter-spacing: 0.08rem;
  transition: 0.2s ease;
}
.container .recipe-content .search-result-container .result-recipe .result-description a .btn:hover {
  background: #606470;
  color: #1dad9b;
}

footer {
  min-height: 20vh;
  background: #323643;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
footer .footer-content .title {
  font-size: 1.5rem;
}
footer .footer-content img {
  width: 10%;
}/*# sourceMappingURL=style.css.map */