* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background: #606470;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(90%, 90rem);
  margin-inline: auto;
  padding: 2rem 0;
}
@media (max-width: 750px) {
  .container {
    width: min(100%, 90rem);
  }
}
.container .recipe-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .recipe-content .search-content {
  margin-bottom: 2rem;
}
.container .recipe-content .search-content h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #1dad9b;
}
.container .recipe-content .search-content form {
  width: 100%;
  margin-inline: auto;
}
.container .recipe-content .search-content form input {
  position: relative;
  display: inline-block;
  outline: none;
  padding: 0.5rem 0.5rem;
  width: 80%;
  border: 1px solid #606470;
  background: #f7f7f7;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 1.5rem;
}
.container .recipe-content .search-content form .search-btn {
  position: absolute;
  top: 6.35rem;
  background: #f7f7f7;
  padding: 0.5rem;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1dad9b;
}
.container .recipe-content .search-result-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  gap: 1.5rem;
}
@media (max-width: 1550px) {
  .container .recipe-content .search-result-container {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}
@media (max-width: 750px) {
  .container .recipe-content .search-result-container {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
.container .recipe-content .search-result-container .result-recipe {
  border: 1px solid #323643;
  border-radius: 5px;
  background: #323643;
}
.container .recipe-content .search-result-container .result-recipe img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.container .recipe-content .search-result-container .result-recipe .result-description {
  letter-spacing: 0.05rem;
  padding: 1rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.container .recipe-content .search-result-container .result-recipe .result-description .title {
  padding-bottom: 0.5rem;
  color: #f7f7f7;
}
.container .recipe-content .search-result-container .result-recipe .result-description .calories {
  color: #f7f7f7;
  padding: 0.3rem 0;
  font-size: 0.8rem;
}
.container .recipe-content .search-result-container .result-recipe .result-description a {
  text-decoration: none;
}
.container .recipe-content .search-result-container .result-recipe .result-description a .btn {
  width: 100%;
  margin-top: 1rem;
  background: #1dad9b;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 50px 50px;
  font-size: 1rem;
  cursor: pointer;
  color: #f7f7f7;
  letter-spacing: 0.08rem;
  transition: 0.2s ease;
}
.container .recipe-content .search-result-container .result-recipe .result-description a .btn:hover {
  background: #606470;
  color: #1dad9b;
}

footer {
  min-height: 20vh;
  background: #323643;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-content .title {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */